.filter-by-genres {
  width: 60%;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0 15px 15px;

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > label {
      width: 20%;
      padding: 5px 0 0;
    }
  }
}
