.filter-by-genres {
  width: 60%;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0 15px 15px; }
  .filter-by-genres__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .filter-by-genres__items > label {
      width: 20%;
      padding: 5px 0 0; }
